* {
    margin: 0;
}

body {
    background-color: yellow !important;
}

hr {
    color: blueviolet !important;
    opacity: 1;
    border-width: 3px;
}

a {
    text-decoration: none;
    color: black;
}

.center-btn {
    display: block;
    margin: 10px auto;
}

/*Bootstrap override stuff*/
.btn-primary {
    background-color: #8a2be2;
}

/*header*/
#header {
    display: flex;
    justify-content: space-between;
}

#header>h1 {
    padding: 10px 20px;
}

#header>div>h1 {
    display: inline;
    padding: 10px;
}

#header>div {
    padding: 10px 20px;
}

/*homepage*/
#quiz-display {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.title {
    text-align: center;
}

.searchbar {
    display: inline;
    width: 250px;
}

.quiz-search {
    width: fit-content;
    margin: auto;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238a2be2' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238a2be2' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/*account*/
.quiz-display {
    width: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

.quiz-display>div {
    margin: 10px;
}

.create-card-form {
    height: 100%;
}

.create-card-btn {
    width: 100%;
    height: 100%;
    min-height: 350px;
    border: none;
    background: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.create-card-btn:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.plus {
    font-size: 4rem;
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    .quiz-display {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 540px) {
    .quiz-display {
        grid-template-columns: auto;
    }
}

/*quiz*/
#quiz-form {
    width: fit-content;
    margin: -50px auto;
    text-align: center;
}

.quiz-media {
    height: 15rem;
    margin: 10px;
}

.quiz-options {
    display: grid;
    grid-template-columns: auto auto;
}

.quiz-option {
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word !important;
    width: 15rem;
    height: 6rem;
    margin: 8px;
    background-color: white;
}

/*Edit quiz*/
.create-form {
    display: grid;
    grid-template-columns: 20% 60% auto;
}

.create-questions-div {
    padding: 5px;
    border: solid blueviolet 2px;
    border-radius: 10px;
}

.create-question {
    margin: 15px 0px;
    cursor: pointer;
}

.create-question-text {
    padding: 5px;
    width: 130px;
    border: solid blueviolet 2px;
    border-radius: 8px;
}

.create-media {
    width: 300px;
    margin: 10px;
}
.media-path-div>input{
    display: inline;
}
#quiz-options {
    display: grid;
    grid-template-columns: auto auto;
}

.edit-question-div {
    display: grid;
    margin: 20px;
}
.edit-quiz-container{
    margin: 10px;
    margin-right: 20px;
}
.edit-quiz-div{
    display: block;
    margin: 10px;
}

/*login signup*/
.login-form,
.signup-form {
    width: 25%;
    margin: auto;
    padding: 15px;
    border: solid blueviolet 2px;
    border-radius: 3px;
}

.login-link {
    color: blueviolet;
}

.login-button {
    margin: 10px auto;
}

#errormsg {
    color: blueviolet;
    margin: 1px;
}