*{
    margin: 0;
}
body{
    background-color: yellow !important;
}
hr{
color: blueviolet !important;
opacity: 1;
border-width: 3px;
}
a{
    text-decoration: none;
    color: black;
}
/*Bootstrap override stuff*/
.btn-primary{
    background-color: blueviolet;
}


/*header*/
#header{
    display: flex;
    justify-content: space-between; 
}
#header > h1{
    padding: 10px 20px;
}

/*homepage*/
#quiz-display{
    display: flex;
    justify-content: space-between; 
    margin: 20px;
}
.title{
    width: fit-content;
    text-align: center;
}

/*quiz*/
#quiz-form{
width: fit-content;
margin: 10px auto;
text-align: center;
}
.quiz-media{
    height: 15rem; 
    margin: 10px;
}           
.quiz-options{
    display: grid;
    grid-template-columns: auto auto;
}
.quiz-option{
display: flex;
justify-content: center;
align-items: center;
word-wrap: break-word !important;
width: 15rem;
height: 6rem;
margin: 8px;
background-color: white;
}

/*login signup*/
.login-form, .signup-form{
    width: 25%;
    margin: auto;
    padding: 15px;
    border: solid blueviolet 2px;
    border-radius: 3px;
}
.login-link{
    color: blueviolet;
}
.login-button{
    margin: 10px auto;
}
