* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgb(213, 129, 255), blueviolet);
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Aclonica';
    color: rgb(255, 247, 0);
}

p {
    color: mediumpurple;
}

hr {
    color: blueviolet !important;
    max-width: 50%;
    margin: auto;
    opacity: 1;
    border-width: 3px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.center-btn {
    display: block;
    margin: 10px auto;
}

/*Bootstrap override stuff*/
.card {
    width: 100% !important;
    min-height: 300px;
    max-width: 250px;
    border-radius: 10px;
    margin: 10px;
    background-image: linear-gradient(230deg, gold, yellow);
}

.btn {
    border-radius: 10px;
}

.btn-primary {
    border: solid 1px rgb(120, 14, 201);
    background-color: hsl(271, 76%, 53%);
    color: yellow;
}

.btn-primary:hover {
    background-color: hsl(271, 81%, 39%);
    color: rgb(255, 213, 0);
}

.btn-outline-secondary {
    color: blueviolet;
    border: solid 1px gold;
    background-image: linear-gradient(gold, yellow);
}

.btn-outline-secondary:hover {
    color: rgb(105, 21, 183);
    border: solid 1px rgb(255, 174, 0);
    background-image: linear-gradient(rgb(255, 183, 0), rgb(255, 247, 0));
}

.carousel-item .d-flex {
    flex-wrap: wrap;
    justify-content: center;
}

/*header*/
#header {
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    margin-bottom: 10px;
}

#header>h1 {
    padding: 10px 20px;
}

#header>div>h1 {
    display: inline;
    padding: 10px;
}

#header>div {
    padding: 10px 20px;
}

@media (max-width: 700px) {
    #header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #header>div {
        padding: 5px;
    }
}

/*homepage*/
#quiz-display {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.title {
    text-align: center;
}

.searchbar {
    display: inline;
    width: 100%;
    max-width: 280px;
}

.quiz-search {
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

.bi-search {
    vertical-align: top !important;
}

.no-results {
    font-size: 1.2rem;
    color: #ffe176;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238a2be2' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238a2be2' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next {
    width: fit-content;
    margin: 10px;
    opacity: 1;
}

.quiz-btn {
    padding: 10px 20px;
}

.carousel-control-prev {
    width: fit-content;
    margin: 10px;
    opacity: 1;
}


/*account*/
.quiz-display {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.quiz-display>div {
    border-radius: 10px;
    margin: 20px;
    background-image: linear-gradient(230deg, gold, yellow);
}

.card-img-top {
    max-height: 300px;
    width: 90%;
    border-radius: 10px;
    margin-top: 10px !important;
    margin: auto;
}

.create-card-form {
    height: 100%;
}

.create-card-btn {
    cursor: pointer;
    user-select: none;

    width: 100%;
    height: 100%;
    min-height: 350px;
    border: none;
    background: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.create-card-btn:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.plus {
    font-size: 4rem;
    font-weight: bold;
}

#logoutbtn {
    background-image: linear-gradient(230deg, gold, yellow);
}

#logoutbtn>a {
    color: blueviolet;
}


/*quiz*/
#start-contianer {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin-top: 20px;
}

#start-contianer>h1 {
    margin: 20px auto;
}

#start-contianer>h6 {
    margin: 20px auto;
}

#start-btn-container>a {
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px;
}

#start-img {
    max-height: 300px;
}

.start-info {
    max-width: 400px;
    line-break: anywhere;
    text-align: center;
    margin: 20px auto;
}

#quiz-form {
    max-width: 400px;
    margin: auto;
    text-align: center;
    padding-bottom: 100px;
}

.quiz-media {
    max-height: 200px;
    border-radius: 5px;
}

.quiz-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.quiz-option {
    text-align: center;
}

.quiz-option:hover,
.quiz-option>label:hover {
    cursor: pointer;
    user-select: none;
}

.quiz-option input[type="radio"] {
    display: none;
}

.quiz-option label {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 60px;
    padding: 12px;
    white-space: normal;
    word-break: break-word;
    margin: 8px;

    border-radius: 10px;
    margin: 5px;
    background-image: linear-gradient(230deg, gold, yellow);
}

.quiz-option label:hover {
    background-image: linear-gradient(rgb(255, 183, 0), rgb(255, 247, 0));
}

.quiz-option input[type="radio"]:checked+label {
    background-image: linear-gradient(rgb(251, 0, 255), hsl(330, 100%, 75%));
}

.bottom-sticky {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    font-weight: bold;
    color: rgb(255, 250, 198);
    width: 100%;
    padding: 5PX;
    border-radius: 5px;
    background-color: blueviolet;
    border: solid 2px rgb(120, 14, 201);
}

.bottom-sticky>h1,
.bottom-sticky>div {
    margin: 5px auto;
    font-size: 1.5rem;
}

#submit-btn {
    margin: 10px;
    padding: 10px 20px;
    font-size: large;
    font-weight: bold;
}

/*Edit quiz*/
.create-form {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;
}


@media (max-width: 900px) {
    .create-form {
        grid-template-columns: 1fr;
    }
}

.create-questions-div {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background-image: linear-gradient(230deg, gold, yellow);
}

.create-question {
    margin: 15px 0px;
    cursor: pointer;
}

.create-question-text {
    -webkit-user-select: none;
    user-select: none;
    padding: 5px;
    width: 130px;
    border: solid blueviolet 2px;
    border-radius: 8px;
}

.create-question:hover {
    color: rgb(105, 21, 183) !important;
}

.delete-question-btn {
    background-color: blueviolet;
    color: yellow;
    border: none;
    padding: 5px 12px;
}

.delete-question-btn:hover {
    background-color: rgb(105, 21, 183);
    color: rgb(255, 183, 0);
    border: none;
    padding: 5px 12px;
}

.add-question-btn {
    color: blueviolet;
    font-size: 30px;
    font-weight: bolder;
    padding: 0px;
    margin: 5px;
}

.add-question-btn:hover {
    color: rgb(105, 21, 183);
}

.delete-quiz-btn {
    border-radius: 10px;
    border: none;
    margin: 5px;
    color: blueviolet;
    background-image: linear-gradient(230deg, gold, yellow);
}

.delete-quiz-btn:hover {
    background-image: linear-gradient(rgb(255, 183, 0), rgb(255, 247, 0));
    color: rgb(105, 21, 183);
}

.save-quiz-btn {
    background-color: blueviolet;
    color: yellow;
    border: solid 1px rgb(105, 21, 183);
    padding: 5px 12px;
    margin: 5px;
}

.create-media {
    max-height: 300px;
    max-width: 100%;
    margin: 10px;
    border-radius: 10px;
}

.create-media-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-path-div>input {
    display: inline;
}

#quiz-options {
    display: grid;
    grid-template-columns: auto auto;
}

#quiz-edit-form {
    margin-bottom: 100px;
}

.edit-question-div {
    display: grid;
    margin: 20px;
}

.edit-quiz-container {
    margin: 10px;
    margin-right: 20px;
}

.edit-quiz-div {
    display: block;
    margin: 10px;
}

.quiz-edit-buttons {
    display: flex;
    flex-wrap: wrap;
}

#errormsg {
    color: rgb(255, 255, 216);
    margin: 1px;
    font-weight: bold;
}

#errormsg-purple {
    color: blueviolet !important;
    margin: 1px;
    font-weight: bold;
}

/*login signup*/
.login-form,
.signup-form {
    max-width: 500px;
    margin: 50px auto;
    padding: 15px;
    border-radius: 10px;
    background-image: linear-gradient(230deg, gold, yellow);
}

.login-link {
    color: blueviolet;
}

.login-button {
    margin: 10px auto;
}

.char-counter {
    display: block;
    text-align: right;
    color: mediumpurple;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: blueviolet;
}

/*result spage */

#confetti-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

#result-div {
    width: fit-content;
    text-align: center;
    margin: 20px auto;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin-top: 20px;
}

.results-btn-container {
    width: fit-content;
    margin: auto;
}

.leaderboard-div {
    width: fit-content;
    text-align: center;
    margin: 20px auto;
}

.leaderboard-table {
    margin: 10px auto;
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    overflow-x: auto;
    border: solid black 3px;
    border-radius: 6px;
    overflow: hidden;
}

.result-div h1 {
    text-align: center;
    margin-bottom: 10px;
}

.result-div h2,
.result-div h3,
.result-div h4,
.result-div p {
    text-align: center;
}

td,
th {
    border-left: solid black 1px;
    border-top: solid black 1px;
}

th {
    background-color: rgb(255, 234, 49) !important;
    border-top: none;
}

td:first-child,
th:first-child {
    border-left: none;
}

td {
    color: blueviolet !important;
}

.table-highlight>td {
    background-color: rgb(243, 217, 255) !important;
}

.yellow-text-sm {
    color: rgb(255, 255, 241) !important;
    font-weight: bold;
}