* {
    margin: 0;
}

body {
    background-color: yellow !important;
}

hr {
    color: blueviolet !important;
    opacity: 1;
    border-width: 3px;
}

a {
    text-decoration: none;
    color: black;
}
.center-btn{
width: fit-content;
margin: auto;
}

/*Bootstrap override stuff*/
.btn-primary {
    background-color: blueviolet;
} 

/*header*/
#header {
    display: flex;
    justify-content: space-between;
}

#header>h1 {
    padding: 10px 20px;
}

/*homepage*/
#quiz-display {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.title {
    text-align: center;
}
/*account*/
.quiz-display{
    width: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}
.quiz-display>div{
margin: 10px;
}
.create-card-form {
    height: 100%;
}
.create-card-btn {
    width: 100%;
    height: 100%;
    border: none;
    background: none;

    display: flex;
    align-items: center;
    justify-content: center;
}
.create-card-btn:hover {
    background-color: rgba(0, 0, 0, 0.03);
}
.plus {
    font-size: 4rem;
    font-weight: bold;
}

@media only screen and (max-width: 800px) 
{
    .quiz-display{
    grid-template-columns: auto auto;
}
}
@media only screen and (max-width: 540px) 
{
    .quiz-display{
    grid-template-columns: auto;
}
}
/*quiz*/
#quiz-form {
    width: fit-content;
    margin: -50px auto;
    text-align: center;
}

.quiz-media {
    height: 15rem;
    margin: 10px;
}

.quiz-options {
    display: grid;
    grid-template-columns: auto auto;
}

.quiz-option {
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word !important;
    width: 15rem;
    height: 6rem;
    margin: 8px;
    background-color: white;
}

/*Create quiz*/
.create-form {
    display: grid;
    grid-template-columns: 200px auto;
}
.create-questions-div {
    padding: 10px;
    border: solid blueviolet 2px;
}
.create-question {
    margin: 2px;
}
.create-question-text {
    padding: 5px;
    width: 130px;
    border: solid blueviolet 2px;
}
.create-media{
    width: 300px;
    margin: 10px;
}
#answers{
    display: grid;
    grid-template-columns: auto auto;
}

/*login signup*/
.login-form,
.signup-form {
    width: 25%;
    margin: auto;
    padding: 15px;
    border: solid blueviolet 2px;
    border-radius: 3px;
}

.login-link {
    color: blueviolet;
}

.login-button {
    margin: 10px auto;
}